<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/style.css">
    <title>3wa Blog</title>
</head>
<body>
    <header>
         {% include 'templates/headerView.php'  %}
    </header>
    <main>
        <h2>3wa blog - index</h2>
        <section>
            <div class="articles_index">   
                {% for article in articles %} 
                    <div>
                        <h3> {{ article.title }} </h3>
                        <p> {{ article.content }}</p>
                        <p class="delete"><a href="delete.php?id={{ article.id }}">Delete</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="category">
                {% for category in categories %}
                    <div>
                        <h3>{{ category.title }}</h3>
                        <p>{{category.color}}</p>
                        <p class="delete"><a href="delete-category.php?id={{category.id}}">Delete</a></p>
                    </div>
                {% endfor %}                
            </div>        
        </section>
    </main>
</body>
</html>